# used to define the styra das api endpoint, e.g., https://tenant.svc.styra.com/v1
tenant: ""

# pull the policy bundle from this das System id 
systemId: ""

# typically the namespace should match the namespace the resource requeset is
# deployed in which should also match the das System
namespace: ""

# use to override the name of the secret filename for fetching the DAS System opa token
# by default this will be <namespace>-<chart name>-credentials
systemCredentialsFilenameOverride: ""
systemCredentialsSecretNameOverride: ""

# specify the storage class name for the persistent volume template
storageClassName: "" 

nameOverride: ""

image:
  repository: styra/styra-local-plane
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []

service:
  type: ClusterIP
  port: 8080

serviceAccount:
  create: true
  annotations: {}

podAnnotations: {}

resources: {}
  # To set container resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
