
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin

# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~
publications-dev-slp-credentials.yaml
reviews-dev-slp-credentials.yaml
ztemp/