---
version: 2.1

orbs:
  op: twdps/onepassword@1.0.0
  cosign: twdps/cosign@0.1.0

parameters:
  context:
    description: circleci context for all jobs
    type: string
    default: twdps-core-labs-team
  machine-image:
    description: circleci machine to use for operator build jobs
    type: string
    default: ubuntu-2204:2022.07.1
  shell-options:
    description: shell options for all jobs
    type: string
    default: op run --env-file op.env -- /bin/bash -eo pipefail

on-push-main: &on-push-main
  branches:
    only: /main/
  tags:
    ignore: /.*/

on-tag-main: &on-tag-main
  branches:
    ignore: /.*/
  tags:
    only: /.*/

commands:
  set-environment:
    parameters:
      registry: 
        description: dtr compatible registry
        type: string
        default: docker.io
      registry-login:
        type: string
        default: $DOCKER_LOGIN
      registry-password:
        type: string
        default: $DOCKER_PASSWORD
    steps:
      - run:
          name: Confirm Docker registry environment variables are configured and correct
          command: |
            if [ ! ${<< parameters.registry-login >>-} ]; then
              echo "registry access username is not set, will not be able to push image."
              exit 1
            fi

            if [ ! ${<< parameters.registry-password >>-} ]; then
              echo "registry access password is not set, will not be able to push image."
              exit 1
            fi
      - run:
          name: Confirm Docker registry login
          command: |
            echo 'write to .docker/config.json is secure in ephemeral runtime environment'
            echo ${<< parameters.registry-password >>} | docker login -u ${<< parameters.registry-login >>} --password-stdin << parameters.registry >>


jobs:
  dev-build:
    machine:
      image: << pipeline.parameters.machine-image >>
    shell: /bin/bash -eo pipefail
    parameters:
      registry: 
        description: dtr compatible registry
        type: string
        default: docker.io
      registry-login:
        type: string
        default: $DOCKER_LOGIN
      registry-password:
        type: string
        default: $DOCKER_PASSWORD
    steps:
      - checkout
      - op/install-op:
          os: Ubuntu
      - op/env:
          env-file: op.env
      - set-environment
      - run:
          name: build dev version of operator
          environment:
            VERSION: dev.${CIRCLE_SHA1:0:7}
          command: make docker-build
      - run:
          name: push dev image to registry
          environment:
            VERSION: dev.${CIRCLE_SHA1:0:7}
          command: make docker-push
      - run:
          name: halt
          command: asdf

workflows:
  version: 2
  dev-build:
    jobs:
      - dev-build:
          context: << pipeline.parameters.context >>
          filters: *on-push-main